:local(.container) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5em;
  padding-right: 1em;
  padding-left: 1em;
  color: white;
  @media (max-width: 760px) {
    font-size: 0.75em;
  }
  :local(.banner) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
    div {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 1);
      opacity: 0.5;
    }
  }
  :local(.title) {
    display: flex;
    width: 10em;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    font-size: 2.5em;
    @media (max-width: 350px) {
      font-size: 2em;
    }
    margin-bottom: 0.2em;
    & > * {
      margin-bottom: 0.2em;
    }
    :local(.logo) {
      width: 6em;
      margin-bottom: 0.5em;
    }
    :local(.letterSpacing) {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
  :local(.guest) {
    font-size: 2.2em;
    display: flex;
    border-bottom: 1px white solid;
    input {
      color: #91dc5a;
      background-color: transparent;
      border: none;
      font-size: 1em;
      padding: 0.5em;
      width: 70%;
    }
    button {
      width: 30%;
      font-size: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border: none;
      padding: 0;
      background-color: transparent;
      cursor: pointer;
      img {
        height: 1.5em;
      }
    }
  }
}
