# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/public/asset/We-Work-We-Wait.mp4
/public/asset/We-Work-We-Wait.webm
/public/asset/enter-arrow.png
/public/asset/logo.png
/public/asset/customer-service.png
/public/asset/reply.png
/public/main.bundle.js