:local(.dataContainer) {
  width: 26em;
  max-width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
  @media (max-width: 760px) {
    font-size: 0.75em;
  }
  :local(.icon) {
    position: absolute;
    font-size: 1rem;
    z-index: 1;
    top: 0.5em;
    right: 0.5em;
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    & > img {
      width: 2em;
      height: 2em;
    }
  }
  :local(.data) {
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
    padding: 3.5em 1em 2em;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    transform: translateX(105%);
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    :local(.index) {
      font-size: 2.5em;
      min-height: 1em;
    }
    :local(.h1) {
      font-size: 2em;
      min-height: 1em;
      line-height: 1.2;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0.5em;
    }
    :local(.detail) {
      & > div {
        font-size: 1.2em;
        margin-bottom: 1em;
        display: flex;
        align-items: center;
        &:last-child {
          margin-bottom: 0;
        }
        & > span {
          display: block;
          font-size: 1em;
        }
        :local(.th) {
          min-width: 5em;
        }
        :local(.td) {
          flex-grow: 1;
        }
      }
      margin-bottom: 1em;
      padding-bottom: 2em;
      border-bottom: 1px white solid;
    }
    :local(.commits) {
      font-size: 1.2em;
      :local(.noCommits) {
        color: white;
        text-align: center;
      }
      :local(.commit) {
        animation: toOpacity100 0.5s forwards;
        & > div {
          display: flex;
          align-items: flex-end;
          margin-bottom: 0.5em;
        }
        :local(.who) {
          font-size: 1em;
          margin-right: 0.5em;
          font-weight: 900;
        }
        :local(.when) {
          font-size: 0.8em;
          opacity: 0.87;
        }
        :local(.what) {
          font-size: 1em;
          line-height: 1.2;
        }
        margin-bottom: 1em;
      }
    }
    :local(.submitContainer) {
      margin-top: 1em;
      display: flex;
      flex-grow: 1;
      font-size: 1.2em;
      min-height: 2em;
      border-bottom: 1px white solid;
      & > div {
        display: flex;
        align-items: flex-end;
        flex-grow: 1;
      }
      input[type*="text"] {
        font-size: 1em;
        height: 2em;
        color: white;
        padding: 0.5em;
        background-color: transparent;
        border: none;
        flex-grow: 1;
      }
      button {
        font-size: 1em;
        background-color: transparent;
        color: rgb(0, 210, 255);
        cursor: pointer;
        height: 2em;
        min-width: 3.5em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        border: none;
      }
    }
  }
}
